@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    padding    : 0;
    margin     : 0;
    box-sizing : border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    position       : relative;
    width          : 100vw;
    height         : 100vh;
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.container .live h1 {
    position      : relative;
    font-size     : 200px;
    color         : darkred;
    letter-spacing: 30px;
}

.container .live .box {
    background-color: darkred;
    width           : 100px;
    height          : 100px;
    border          : 10px solid white;
    border-radius   : 130%;
    position        : absolute;
    top             : 18%;
    left            : 38.5%;
}